@charset "utf-8";
/* CSS Document */

body
{
	background-color:#808080;
	overflow:visible;
	height:800px;
}

img
{
	border:none;
}

footer
{
	text-align:center;
	font-size:9px;
	font-family:Arial, "Times New Roman";
	bottom:0;
	margin:0;
	position: static;
}

.title
{
	font-size: 52px;
    	margin-top:5px;
    	text-align:center;
    	color:#ADADAD;
    
}

#top
{
    position:fixed; 
    top:0;
    left:0;
    right:0;
    margin:0;
    height:100px;
    width:100%;
    background-image:url("Pastel Purple 2 lights.png");
    z-index:1
}

#title_border
{
	background:#FFF;
	height:50px;
	width:90px;
	border-style:solid;
	border-color:#000;
	border:thin;
	position:absolute;
	top:25px;
	z-index:1;
}

#main_flow
{
	position:absolute;
	background:#FFFFFF;
	top:0px;
	left:25%;
    width:50%;
	height:100%;
    z-index:0;
	box-shadow:1px 1px 5px 0px #000000;
	/*Box-Shadow Properties: h-shadow v-shadow (blur spread color inset)*/
}

#bottom
{
    position:absolute;
    top:780px;
    /*width:100%;*/
    width:100%
}

/*#Nick_Colby_Ethan_J488
{
	position:absolute;
	top:5em;
}*/

.primary_div
{
    position:relative;
    left:5px;
	top:125px;
}

.secondary_div
{
    position:relative;
    left:50px;
	top:135px;
	width: 80%;
}

.primary_text
{
	font-size: 36pt;
	font-family: Arial;
	color:#C00;
	text-align:left;
    margin-top: 5px;
	margin-left: 5px;
	margin-bottom:5px;
}

.secondary_text
{
	font-family:Arial;
	font-size: 12pt;
	text-align:justify;
}
