@charset "utf-8";
/* CSS Document */

body
{
	background-color:#FFF;
	overflow:visible;
}

img
{
	border:none;
}

footer
{
	margin-top:25em;
	margin-left:15em;
	text-align:center;
	font-size:.7em;
	font-family:Times, Times New Roman;
}

#title
{
	background-color:#FFF;
	margin:0em;
	position:absolute;
	top:3em;
	left:377px;
	height:8em;
	width:25em;
}

#title_border
{
	background:#FFF;
	height:5em;
	width:30em;
	border-style:solid;
	border-color:#000
	border:thin;
	position:absolute;
	top:2.3em;
	left:18em;
	z-index:1;
}

#main_flow
{
	position:absolute;
	top:10em;
	left:20em;
	right:20em;
}

/*#Nick_Colby_Ethan_J488
{
	position:absolute;
	top:5em;
}*/

.primary
{
	font-size: 2em;
	font-family: "Lucida Console", Monaco, monospace;
	color:#C00;
	text-align:left;
        margin-top:1em;
	margin-left:-3em;
	margin-bottom: .5em;
}

.secondary
{
	font-family:Times, Times New Roman;
	font-size:1em;
	text-align:justify;
}
